.node circle {
  fill: white;
  stroke-width: 2;
  stroke: white;
  r: 20;
}

.node {
  fill: none;
}

.link {
  stroke: black;
  fill: none;
  stroke-width: 3;
}

.glowing {
  filter: url(#glowing);
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/back.png");
  background-size: cover;
  background-repeat:no-repeat;
}
