.node circle {
  fill: white;
  stroke-width: 2;
  stroke: white;
  display: none;
}

.node {
  fill: none;
}

.link {
  stroke: black;
  fill: none;
  stroke-width: 2.5;
}

.glowing {
  filter: url(#glowing);
  box-shadow: 0px 0px 5px #0067ff;
}

body {
  background-color: #000208;
  margin-left: auto;
  margin-right: auto;
  align: center;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow:hidden;
}

.container {
  align: center;
  width: 100%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.skill-img {
  background-color: red;
  background-image: url("../img/icons/skill.png");
}

.skill-icon {
  opacity: 0.8;
}

/* TOOLTIP */

.tooltip {
  border: 2px solid black;
  background-color: #000a24;
  color: #0074ff;

  padding: 0px;
  margin: 0px;
}

.tooltip-header {
  overflow: auto;
  margin-bottom: 5px;
}

.tooltip-title {
  padding: 10px;
}

.tooltip-post {
  padding-top: 5px;
  padding: 10px;
}

.tooltip-icon {
  width: 70px;
  height: 70px;
  float: left;
  margin: 5px;
}

.tooltip-icon img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.tooltip_big {
  width: 300px;
  height: 300px;
  right: 10px;
  bottom: 10px;

  border: 2px solid black;
  background-color: #000a24;
  color: #0074ff;
}
